{% extends "base.html" %}

	<br>
  	<div class="container">
    	<div class="row flex-nowrap justify-content-between align-items-center">
      		<button type="button" class="btn btn-primary">Settings</button>
      		<h3>{{ user }}'s Planner</h3>
      		<button type="button" class="btn btn-dark">Log out</button>
    	</div>
  	</div>
  	<br>
  	<br>


{% block content %}

	<!-- CALENDAR -->  
  	<div class="container">
  		<h4>Calendar</h4>
  	</div>
  	<div class="container">
		You are at home.
		{{ calendar }}
	</div>
  	
  	<br>
  	
  	<!-- Tasks & Reminders -->
  	<div class="container">
  		<div class="row">
  		
  			<!-- TASKS -->  
  			<div class ="col">
	          	<h4>Tasks</h4>
			    <div class="container">
<!-- DELETE  	 -->
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">First</th>
					      <th scope="col">Last</th>
					      <th scope="col">Handle</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
<!-- DELETE  	 -->
				</div>
        	</div>
        	
        	<!-- REMINDERS -->  
        	<div class ="col">
	          	<h4>Reminders</h4>
			    <div class="container">
<!-- DELETE  	 -->
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">First</th>
					      <th scope="col">Last</th>
					      <th scope="col">Handle</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
<!-- DELETE  	 -->
				</div>
        	</div>
        	
        	<!-- LEGEND -->
        	<div class="col col-lg-2">
        		<h4>Legend</h4>
        		<div class="container">
        			<h5> <span class="badge badge-danger"> </span> Most important </h5>
        			<h5> <span class="badge badge-warning"> </span> Relatively Important </h5>
        			<h5> <span class="badge badge-success"> </span> Important </h5>
        		</div>
        	</div>
        
        </div>
  	</div>
  	
  	<!-- NEWS -->
  	<div class="container">
  		<h4>News</h4>
  	</div>
  	<div class="container">
  		<div class="card">
		  <div class="card-header">
		    r/ someReddit
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Title of article</h5>
		    <a href="#" class="btn btn-primary">Go to Reddit Page</a>
		  </div>
		</div>
  	</div>

{% endblock %}