<!doctype html>
<html lang="en">
  {% block head %}
  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style>
	  .ml-1 {
	    margin-left: ($spacer * .5) !important;
	    margin-right: ($spacer * .5) !important;
	  }
	  .px-2 {
	    padding-left: ($spacer * .5) !important;
	    padding-right: ($spacer * .5) !important;
	  }
	</style>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
    <title>{% block title %}{% endblock %}</title>
  </head>
  {% endblock %}

  <body>
    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer>Copyright &copy; 2019</footer>
    {% endblock %}
  </body>

</html>