{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<ul class="nav justify-content-end">
  <li class="nav-item">
    <form action="/news" method="GET">
      <button class="btn btn-sm btn-outline-primary mt-3 mr-3" type="submit">News</button>
    </form>
  </li>
  <li class="nav-item">
    <form action="/settings" method="GET">
      <button class="btn btn-sm btn-outline-primary mt-3 mr-3" type="submit">Settings</button>
    </form>
  </li>
  <li class="nav-item">
    <form action="/logout" method="GET">
      <button class="btn btn-sm btn-outline-primary mt-3 mr-3" type="submit">Logout</button>
    </form>
  </li>
</ul>
<div class="jumbotron jumbotron-fluid mt-3">
  <div class="container">
    <h1 class="display-4">Today is {{ datetime.strftime("%Y-%m-%d") }}</h1>
    <hr class="my-4">
    <p class="lead">Welcome back {{ name }}!</p>
  </div>
</div>

<!-- Error Flashing -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li> {{ message }} </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!-- Data Row -->
<div class="row mx-3">
  <!-- Calendar Event List -->
  <div class="container mx-3 col-sm">
    <h3 class="text-center">Calendar</h3>
    <div class="list-group">
      {% for event in calendar %}
      <li class="list-group-item row">
        <form class="col form-inline" action="/remove">
          <input type="hidden" name="google_calendar">
          <input type="hidden" name="event_id" value="{{ event['id'] }}">
          <label class="col">{{ event["summary"] }}</label>
          <input class="btn btn-outline-primary btn-sm" type="submit" value="Delete">
        </form>
      </li>
      {% endfor %}
      <li class="list-group-item row text-center">
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#eventModal">
          Add an Event
        </button>
      </li>
    </div>
  </div>

  <!-- Google Calendar Modal -->
  <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" action="/add/calendar">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Create a Calendar Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="google_calendar">
          <input type="hidden" name="timeZone" id="timeZone" value="">
          <input type="hidden" name="timeZoneOffset" id="timeZoneOffset" value="">
          <div class="form-group">
            <label for="eventSummary">Event Summary</label>
            <textarea class="form-control" name="eventSummary"></textarea>
          </div>
          <div class="form-group">
            <label for="eventStart">Start</label>
            <input type="datetime-local" class="form-control" name="eventStart">
          </div>
          <div class="form-group">
            <label for="eventEnd">End</label>
            <input type="datetime-local" class="form-control" name="eventEnd">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </div>
      </form>
    </div>
  </div>

  <!-- Google Tasks List -->
  <div class="container mx-3 col-sm">
    <h3 class="text-center">Tasks</h3>
    <div class="list-group list-group-root">
      {% for tasklist, taskchain in zip(tasklists_reduced, tasks) %}
      {% if "items" in taskchain %}
      <div class="list-group-item">
        <label>{{ tasklist["title"] }}</label>
        <div class="list-group">
          {% for task in taskchain["items"] %}
          <li href="{{ task['selfLink'] }}" class="list-group-item row">
            <form class="col form-inline" action="/remove">
              <input type="hidden" name="google_tasks">
              <input type="hidden" name="task_list_id" value="{{ tasklist['id'] }}">
              <input type="hidden" name="task_id" value="{{ task['id'] }}">
              <label class="col">{{ task["title"] }}</label>
              <input class="btn btn-outline-primary btn-sm" type="submit" value="Delete">
            </form>
          </li>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="list-group-item text-center">
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#tasksModal">
          Add a Task
        </button>
      </div>
    </div>
  </div>

  <!-- Google Tasks Modal -->
  <div class="modal fade" id="tasksModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" action="/add/tasks">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Create a Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="google_tasks">
          <div class="form-group">
            <label for="taskTitle">Title</label>
            <input type="text" class="form-control" name="taskTitle">
          </div>
          <div class="form-group">
            <label for="taskNotes">Notes</label>
            <textarea class="form-control" name="taskNotes"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </div>
      </form>
    </div>
  </div>

  <!-- News -->
  <div class="container mx-3 col-sm">
    <h3 class="text-center">News</h3>
    <div class="list-group">
      {% for article in news["data"]["children"] %}
      <a href="{{ article['data']['url'] }}" class="list-group-item list-group-item-action">
        {{ article["data"]["title"] }}
      </a>
      {% endfor %}
      <form class="list-group-item text-center" action="/news">
        <input class="btn btn-outline-primary btn-sm" type="submit" value="View More">
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  document.getElementById("timeZone").value = Intl.DateTimeFormat().resolvedOptions().timeZone
  document.getElementById("timeZoneOffset").value = ":00" + new Date().toString().split(" ")[5].substring(3).slice(0, 3) + ":" + new Date().toString().split(" ")[5].substring(3).slice(3)
</script>
{% endblock %}