{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<ul class="nav justify-content-end">
  <li class="nav-item">
    <form action="/news" method="GET">
      <button class="btn btn-sm btn-outline-primary mt-3 mr-3" type="submit">News</button>
    </form>
  </li>
  <li class="nav-item">
    <form action="/settings" method="GET">
      <button class="btn btn-sm btn-outline-primary mt-3 mr-3" type="submit">Settings</button>
    </form>
  </li>
  <li class="nav-item">
    <form action="/logout" method="GET">
      <button class="btn btn-sm btn-outline-primary mt-3 mr-3" type="submit">Logout</button>
    </form>
  </li>
</ul>
<div class="jumbotron jumbotron-fluid mt-3">
  <div class="container">
    <h3 class="display-5 d-flex">
      <span class="text-muted">Welcome back, {{ name }}.</span>
      <span class="ml-auto text-muted"> {{ datetime.strftime("%B %d, %Y") }}</span>
    </h3>
    <hr class="my-4">
    <!-- Maps iframe -->
    {% if iframe_src %}
    <div class="card">
      <iframe class="rounded-sm" height="450" frameborder="0" src="{{ iframe_src }}"></iframe>
    </div>
    {% endif %}
  </div>
</div>

<!-- Error Flashing -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li> {{ message }} </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!-- Data Row -->
<div class="row mx-3 mb-5">
  <!-- Calendar Event List -->
  <div class="container mx-3 col-sm mb-5">
    <h3 class="text-center text-muted">Calendar</h3>
    <div class="list-group border-bottom-0">
      {% for event in calendar %}
      <li class="list-group-item py-3">
        <div class="card py-0">
          <div class="card-body">
            <h5 class="card-title">
              <form class="col form-inline" action="/remove">
                <input type="hidden" name="google_calendar">
                <input type="hidden" name="event_id" value="{{ event['id'] }}">
                <label class="col">{{ event["summary"] }}</label>
                <button type="submit" class="btn btn-outline-primary btn-sm">
                  <i class="far fa-trash-alt"></i>
                </button>
              </form>
            </h5>
            <p class="card-text">{{ event["description"] }}</p>
            <p class="card-text">
              <small>
                {{ event["start"]["dateTime"][:-9].replace("T", " ") }}
                <i class="fas fa-arrow-right"></i>
                {{ event["end"]["dateTime"][:-9].replace("T", " ") }}.
              </small>
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
      <div class="list-group-item d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary btn-sm mt-1" data-toggle="modal" data-target="#eventModal">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Google Calendar Modal -->
  <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" action="/add/calendar">
        <div class="modal-header">
          <h5 class="modal-title">Create a Calendar Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="google_calendar">
          <input type="hidden" name="timeZone" id="timeZone">
          <input type="hidden" name="timeZoneOffset" id="timeZoneOffset">
          <div class="form-group">
            <label for="eventSummary">Event Title (Required)</label>
            <input type="text" class="form-control" name="eventSummary">
          </div>
          <div class="form-group">
            <label for="eventDescription">Event Description</label>
            <textarea class="form-control" name="eventDescription"></textarea>
          </div>
          <div class="form-group">
            <label for="eventStart">Start (Required)</label>
            <input type="datetime-local" class="form-control" name="eventStart">
          </div>
          <div class="form-group">
            <label for="eventEnd">End (Required)</label>
            <input type="datetime-local" class="form-control" name="eventEnd">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </div>
      </form>
    </div>
  </div>

  <!-- Google Tasks List -->
  <div class="container mx-3 col-sm mb-5">
    <h3 class="text-center text-muted">Tasks</h3>
    <div class="list-group">
      {% for tasklist, taskchain in zip(tasklists_reduced, tasks) %}
      {% if "items" in taskchain %}
      <div class="list-group-item border-bottom-0">
        <h6 class="text-muted">{{ tasklist["title"] }}</h6>
        <div class="list-group px-3 py-1">
          {% for task in taskchain["items"] %}
          <li href="{{ task['selfLink'] }}" class="list-group-item row px-0">
            <form class="col form-inline" action="/remove">
              <input type="hidden" name="google_tasks">
              <input type="hidden" name="task_list_id" value="{{ tasklist['id'] }}">
              <input type="hidden" name="task_id" value="{{ task['id'] }}">
              <label class="col">{{ task["title"] }}</label>
              <button type="submit" class="btn btn-outline-primary btn-sm">
                <i class="far fa-trash-alt"></i>
              </button>
            </form>
            {% if task["notes"] %}
            <div class="card m-3">
              <div class="card-body">
                <p class="card-text">{{ task["notes"] }}</p>
              </div>
            </div>
            {% endif %}
          </li>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="list-group-item d-flex">
      <button type="button" class="btn btn-outline-primary btn-sm mt-1 justify-content-start" data-toggle="modal"
        data-target="#tasklistModal">
        <i class="fas fa-list-ul"></i>
      </button>
      <button type="button" class="btn btn-outline-primary btn-sm mt-1 ml-auto" data-toggle="modal"
        data-target="#tasksModal">
        <i class="fas fa-clipboard-list"></i>
      </button>
    </div>
  </div>

  <!-- Google Tasks Tasklist Modal -->
  <div class="modal fade" id="tasklistModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" action="/add/tasks">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Create a Tasklist</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="google_task_list">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="task_list_title">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </div>
      </form>
    </div>
  </div>

  <!-- Google Tasks Modal -->
  <div class="modal fade" id="tasksModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" action="/add/tasks">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Create a Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="google_tasks">
          <input type="hidden" name="tasklist_id" value="">
          <div class="form-group">
            <select name="task_list_id" class="form-control border-primary text-primary">
              {% for tasklist in tasklists_reduced %}
              <option value="{{ tasklist['id'] }}">{{ tasklist["title"] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="task_title">
          </div>
          <div class="form-group">
            <label>Notes</label>
            <textarea class="form-control" name="task_notes"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </div>
      </form>
    </div>
  </div>

  <!-- News -->
  <div class="container mx-3 col-sm mb-5">
    <h3 class="text-center text-muted">News</h3>
    <div class="list-group">
      {% for article in news["data"]["children"] %}
      <a href="{{ article['data']['url'] }}" class="list-group-item list-group-item-action">
        {{ article["data"]["title"] }}
      </a>
      {% endfor %}
      <form class="list-group-item text-center" action="/news">
        <input class="btn btn-outline-primary btn-sm" type="submit" value="View More">
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script>
  document.getElementById("timeZone").value = Intl.DateTimeFormat().resolvedOptions().timeZone
  document.getElementById("timeZoneOffset").value = ":00" + new
    Date().toString().split(" ")[5].substring(3).slice(0, 3) + ":" + new Date().toString().split(" ")[5].substring(3).slice(3)
</script>
{% endblock %}