{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="container bg-primary text-white p-3 my-5 rounded-lg">
  <div class="py-3">
    <h1>Finish your registration</h1>
  </div>
  <form action="/register">
    <h3 name="registration">News Preference</h3>
    <div class="form-group">
      <select name="inputNews" class="form-control">
        <option>Politics</option>
        <option>Worldnews</option>
        <option>News</option>
      </select>
    </div>
    <h3 class="mt-5">Home Address</h3>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control border-0" name="homeAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control border-0" name="homeAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control border-0" name="homeCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <input type="text" class="form-control border-0" name="homeState">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control border-0" name="homeZip">
      </div>
    </div>
    <h3 class="mt-5">Work Address</h3>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control border-0" name="workAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control border-0" name="workAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control border-0" name="workCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <input type="text" class="form-control border-0" name="workState">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control border-0" name="workZip">
      </div>
    </div>
    <button type="submit" class="btn btn-light mt-3 mb-0">Finish</button>
  </form>
</div>
<br>
{% endblock %}